// Fonts:
$fuente-principal: 'Outfit', sans-serif;

// Media Query Sizes:
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colors: 
$primary: #003364;
$secundary: #1C6DD0;
$black: #1a1b15;
$white: #FFFFFF;
$ligtGray: #F5F5F5;
$darkGray: #333333;
$midgray: #888888;
$pageBackground: #efeef0;

// Fonts
$light: 300;
$regular: 400;
$bold: 700;
$black: 900