@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.solutions {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    background-color: v.$pageBackground;
    gap: 2rem;

    @include m.tablet {
        padding: 5rem 10rem;
    }

    &__grid {
        @include m.grid(1, 2rem);

        @include m.tablet {
            @include m.grid(3, 2rem);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: relative;
        background-color: v.$ligtGray;

        &:hover {
            transform: translateY(-8px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }
    }

    &__item-title {
        color: v.$midgray;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }

    &__item-image {
        min-height: 60rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &--iluminacion {
            background-image: image-set(url("../img/Nature_mini.avif") type("image/avif"),
                    url("../img/Nature_mini.webp") type("image/webp"),
                    url("../img/Nature_mini.jpg") type("image/jpeg"));
        }

        &--seguridad {
            background-image: image-set(url("../img/Nature_mini.avif") type("image/avif"),
                    url("../img/Nature_mini.webp") type("image/webp"),
                    url("../img/Nature_mini.jpg") type("image/jpeg"));
        }

        &--confort {
            background-image: image-set(url("../img/Nature_mini.avif") type("image/avif"),
                    url("../img/Nature_mini.webp") type("image/webp"),
                    url("../img/Nature_mini.jpg") type("image/jpeg"));
        }

    }

    &__item-link {
        @include m.link;
        text-align: center;
        margin-bottom: 2rem;
        display: inline-block;
        width: auto;
    }

    &__item-summary {
        line-height: 1.7;
        color: v.$darkGray;
        padding: 1.5rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        max-height: 14rem;

        @include m.tablet {
            overflow: visible;
            display: block;
            -webkit-line-clamp: unset;
            -webkit-box-orient: unset;
            max-height: none;
        }
    }
}
